playwright/
__pycache__/
.pytest_cache/
.virtual_documents/
*.pyc

# logs
*.out
*.err
*.log

datasets/traficom_datasets/
notebooks/preprocessing/traficom_reduced_raw.csv
datasets/traficom_outputs/traficom_reduced_raw.csv
catboost_info/
.ipynb_checkpoints/

# deployment bundles
artifacts/random_forest_final/
